@font-face {
    font-family: 'Soviet font';
    src: url('../fonts/kremlin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.row>* {
    padding-right: 0; 
    padding-left: 0; 
}

.content-2 {
    padding-right: 16px; 
    padding-left: 16px; 
}

.mt-5 {
    margin-top: 0rem !important;
	background-image: url(../img/bg.svg);
}

.row {
	background: #ffffffc9;
	padding-bottom: 20px;
}

p {
	font-size: 20px;
	font-family: sans-serif;
}

.p-text {
	text-align: justify;
	text-indent: 24%;
}

.split-text {
	text-transform: uppercase;
	font-size: 9rem;
	font-weight: bold;
	background: linear-gradient(to bottom, black 50%, red 50%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-family: 'Soviet font', sans-serif;
	font-weight: bold; 
}

.content-header {
	max-width: 450px; 
	text-align: right;
}

.content-header h2 {
	font-size: 60px; 
	font-family: 'Soviet font', sans-serif; 
	font-weight: 900; 
	text-transform: uppercase;
}

.header-hr {
	border-block-width: 3px;
}

.block-1, .block-2 {
    padding-right: 10%; 
    padding-left: 10%; 
}

.block-right-text {
    text-align: right;
	margin-top: 15px;
}

.block-35, .block-65 {
	padding: 10px 30px;
}

.block-right-img, .content-1-1, .content-1-2, .content-2-1, .content-2-2 {
	display: flex;
    justify-content: space-between;
    align-items: end;
	margin-bottom: 60px;
}

.block-left {
    max-height: 40%;
    overflow: hidden;
}

.repeat-text-1, .repeat-text-2 {
	font-family: fantasy;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
}

.repeat-text-1 {
	background-color: rgb(241, 196, 55);
}

.repeat-text-2 {
	background-color: rgb(202, 33, 30);
	color: white;
}

span.red { color: rgb(202, 33, 30); }
span.yellow { color: rgb(241, 196, 55); }

.center-text {
	text-indent: 0; 
	word-spacing: 20px; 
	text-transform: uppercase;
}

.block-35 {
	flex: 0 0 35%; 
	max-width: 35%;
}

.block-65 {
	flex: 0 0 65%; 
	max-width: 65%;
}

.content-1-1-12 {
	max-width: 12%; 
	position: relative;
	top: -28px;
}

.content-1-1-72 { max-width: 72%; }
.content-1-2-32 { max-width: 32%; }
.content-1-2-40 { max-width: 40%; }

.content-1-2-12 {
	max-width: 12%; 
	position:relative; 
	top:-150px;
}

.content-2-1-45 { max-width: 45%; }
.content-2-1-40 { max-width: 40%; }
.content-2-2-32 { max-width: 32%; }
.content-2-2-16 { max-width: 16%; }
.content-2-2-40 { max-width: 40%; }

@media (max-width: 992px) {
	.content-header {
		max-width: 100%; 
		text-align: center;
	}
	
	.content-header h2 {
		font-size: 30px; 
	}
	
	.block-1, .block-2 {
		padding-right: 4%; 
		padding-left: 4%; 
	}
	
	.block-35 {
		flex: 0 0 100%; 
		max-width: 100%;
		height: fit-content;
		text-align: center;
	}

	.block-65 {
		flex: 0 0 100%; 
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.split-text { font-size: 4rem; }
	.center-text { word-spacing: 1px; }
	.block-right-img { margin-bottom: 60px;	}
	.content-1-1, .content-1-2, .content-2-1, .content-2-2 { display: block; }
	
	.content-1-1-12, .content-1-2-12, .content-2-2-16 {
		max-width: 100%; 
		top: 0;
		width: 100%;
		text-align: center;
	}

	.content-1-1-72, .content-1-2-40, .content-1-2-32, .content-2-1-40, .content-2-1-45,
	.content-2-2-32, .content-2-2-40 {
		max-width: 100%;
		width: 100%;
	}
	
	.content-1-1, .content-1-2, .content-2-1, .content-2-2 { margin-bottom: 20px; }
}
